.intro {
    position: relative;
    width: 100%;
    height: 508px;
    background-image: url(../img/background\ photo.jpg);
    background-size: 105%;
    background-repeat: no-repeat;
}

.intro img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.intro-img1 {
    top: 76px;
}

.intro-img2 {
    top: 136px;
}

.intro-img3 {
    top: 214px;
}

.intro-img4 {
    top: 348px;
}

.intro-shape {
    width: 100%;
    height: 57px;
    bottom: 0;
}

.advantages {
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
}

.advantages>h2+p {
    margin-top: 60px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.advantages>h2+p+p {
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 26px;
}

.flex {
    display: flex;
    width: 100%;
}

.flex section {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    width: 33%;
    height: 256px;
    padding: 0% 5%;
    text-align: center;
}

.flex section h3 {
    margin-top: 45px;
    font-size: 21px;
}

.flex section p {
    margin-top: 25px;
    font-size: 14px;
}

.flex section.alone {
    color: #ffffff;
    background-color: #81b3d2;
}

.flex section.bgc {
    background-color: #eeeeee;
}

.flex div {
    width: 66%;
    height: 256px;
}

.flex div.first {
    background-image: url(../img/bgf2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 256px;
}

.flex div.second {
    background-image: url(../img/bgf3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 256px;
}

.flex .with-icon {
    position: relative;
    height: 330px;
}

.flex .with-icon h3 {
    margin-top: 160px;
}

.flex .with-icon h3::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    display: block;
    width: 75px;
    height: 75px;
    background-image: url(../img/icon-1.png);
    background-repeat: no-repeat;
    transform: translateX(-50%);
}

.flex .with-icon:nth-child(2) h3::before {
    background-image: url(../img/icon-3.png);
}

.flex .with-icon:nth-child(3) h3::before {
    background-image: url(../img/icon-2.png);
}

.hotels {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.hotels h2 {
    margin-top: 50px;
    font-size: 30px;
    line-height: 36px;
}

.hotels p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
}

.hotels .search-hotel {
    margin-top: 30px;
    padding: 30px 140px;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #766357;
}

.hotels .search-hotel:hover {
    background-color: #604e43;
}

.hotels .search-hotel:active {
    background-color: #503e33;
    color: #857871;
}

.hotels iframe {
    height: 593px;
    width: 100%;
    border: 0;
}

.hotels .modal-container {
    position: absolute;
    top: 242px;
    left: 50%;
    width: 569px;
    height: 395px;
    transform: translateX(-50.5%);
    overflow: hidden;
    background-color: transparent;
}

.hotels .modal-container .modal {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
}

.modal form {
    margin: 55px;
}

.modal label {
    position: relative;
    margin-top: 10px;
    font-weight: 700;
}

.modal #race,
.modal #exit {
    width: 260px;
    height: 36px;
    padding: 0;
    padding-left: 15px;
    border: 0;
    background-color: #f2f2f2;
    font-weight: 700;
    text-transform: uppercase;
}

.modal #race:hover,
.modal #exit:hover {
    background-color: #ebebeb;
}

.modal #race:focus,
.modal #exit:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.modal #race {
    margin-left: 22px;
}

.modal #exit {
    margin-top: 30px;
    margin-left: 18px;
}

.modal label .calendar {
    position: absolute;
    top: -8px;
    left: 402px;
    width: 40px;
    height: 36px;
    border: 0;
    background-color: #f2f2f2;
}

.modal label .calendar img {
    opacity: 0.5;
}

.modal label .calendar:hover img {
    opacity: 1;
}

.modal #adults,
.modal #children {
    width: 40px;
    height: 35px;
    margin-top: 30px;
    margin-left: 75px;
    border: 0;
    background-color: #f2f2f2;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.modal #children {
    margin-left: 55px;
}

.modal button.minus,
.modal button.plus {
    position: absolute;
    top: -8px;
    left: 201px;
    width: 35px;
    height: 37px;
    border: 0;
    background-color: #f2f2f2;
}

.modal button.minus img,
.modal button.plus img {
    opacity: 0.5;
}

.modal button.minus:hover img,
.modal button.plus:hover img {
    opacity: 1;
}

.modal button.minus {
    left: 126px;
}

.modal label[for=children] {
    margin-left: 60px;
}

.modal label[for=children] button.minus {
    left: 68px;
}

.modal label[for=children] button.plus {
    left: 142px;
}

.modal button.minus img {
    top: 18px;
    left: 12px;
    position: absolute;
}

.modal button[type=submit] {
    margin-top: 50px;
    padding: 15px 195px;
    border: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #81b3d2;
}

.modal button[type=submit]:hover {
    background-color: #669ec0;
}

.modal button[type=submit]:active {
    background-color: #5496bd;
    color: #88b6d1;
}